body {
    font-family: Arial, sans-serif; /* Default font for the body */
    margin: 40px 100px;
}

h1 {
    font-family: 'Times New Roman', serif; /* This changes the font for the header */
    margin-bottom: 20px; /* Adjust this value to increase or decrease the space */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 20px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline;
    margin-right: 10px;
}

.nav a {
    font-family: 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-size: 18px; /* Increase this value to make the text larger */
}

hr {
    margin-top: 5px; /* Adjust this value to fine-tune the space above the line */
    height: 3px; /* Thickness of the horizontal line */
    background-color: black; /* Color of the line */
    border: none; /* Removes default border styles */
}

