body {
    font-family: Arial, sans-serif;
    margin: 40px 170px; /* Use percentage to make margins responsive */
    background-color: #F8F8FF;
}

h1 {
    font-family: 'Times New Roman', serif;
    margin-bottom: 20px;
    line-height: 1.3; /* Makes the text more breathable */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 20px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline;
    margin-right: 10px;
}

.nav a {
    font-family: 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 1px; /* Slightly spaces out letters */
}

.content {
    padding: 20px;
    background-color: #F8F8FF; /* Changed to off-white color */
    border-radius: 5px; /* Softens the edges */
}

.about-section {
    display: flex;
    justify-content: space-between; /* Keeps items on opposite ends horizontally */
    align-items: flex-start; /* Aligns items at the top */
}

.about-text {
    flex: 1; /* Allows text block to fill the space */
    padding-right: 20px; /* Adds space between the text and the image */
}

.about-image {
    width: 300px; /* Adjust based on your actual image size */
    height: auto;
    border-radius: 10px; /* Styling for rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow */
}

hr {
    margin-top: 3px; /* Adjust this value to fine-tune the space above the line */
    height: 3px; /* Thickness of the horizontal line */
    background-color: black; /* Color of the line */
    border: none; /* Removes default border styles */
}


